#----backend----
# Virtual environment
venv/
env/
.venv/
backend/registration/migrations/__pycache__/__init__.cpython-312.pyc
backend/registration/migrations/__pycache__/0001_initial.cpython-312.pyc

# Database
.sqlite3

# Python cache
__pycache__/

#----frontend----
# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#----general----
**/__pycache__/
**/*.pyc