/* src/styles/Body.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

input {
  width: 300px;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Стили для контейнеров списков */
.teachers-list,
.exams-list,
.notes {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px; /* Максимальная высота контейнера */
  overflow-y: auto; /* Добавляет вертикальную прокрутку при необходимости */
  margin-bottom: 20px;
  width: 200px; /* Ограничение ширины до 200px */
}

/* Стили для контейнера заметок */
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes input,
.notes button {
  margin-bottom: 10px;
}

/* Стили для вертикального расположения списков */
.teachers-list,
.exams-list {
  display: block; /* Устанавливаем блочное отображение для вертикального расположения */
}

/* Стили для родительского контейнера */
.body-container {
  display: block; /* Устанавливаем блочное отображение для вертикального расположения */
}